api/dist/
api/node_modules/
backend/dist/
backend/node_modules/
backend/.env
backend/package-lock.json
frontend/.sass-cache/
frontend/dist/
frontend/node_modules/
frontend/package-lock.json
frontend/.env
